*{
    margin: 1px;
    padding: 0px;
}

/* styles the top */

.navbar{
    display: flex;
    justify-content: space-around;
}
.navbar .name-bar{
    margin-top: 50px;
    margin-right: 850px;
}
.name-bar h3{
    font-size: xx-large;
}
.resume-button{
    margin-top: 40px;
}
Button{
    padding: 11px 22px 11px 22px;
    border-radius: 5px;
    background-color: white;
    border: 1px solid rgb(13, 19, 33);
    color: rgb(65, 69, 70);
    font-weight: 600;
}

/* header bg style */
.first-div{
    background-image: url('../B10A1-Challenge-Begins-main/assets/Hero-bg.png');
    margin-top: 36px;
    padding-bottom: 25px;
    text-align: center;
    margin-bottom: 74px;
}
.header-content{
    text-align: center;
}
.image-div{
    padding: 20px 0px 32px 0px;
}
.heading-div{
    margin-bottom: 24px;
}

.heading{
    font-size: 48px;
    font-weight: 800;
    line-height: 68px;
    word-spacing: 10px;
    
}

.paragraph{
    word-spacing: 4px;
    color: rgb(95, 97, 98);
    margin-bottom: 32px;
}

.header-button{
    color: white;
    background-color: black;
}

/* main section styles */
main{
    margin: 0px 150px 0px 150px;
    /* background: rgba(13, 19, 33, 0.02); */
}
.first-content{
    text-align: center;
    background: rgba(13, 19, 33, 0.02);
    padding: 70px 97px 70px 97px;
}
.head1{
    /* margin: 24px 0px; */
    font-size: 32px;
    font-weight: 800;
    margin-bottom: 24px;
}
.paragraph1{
    margin-bottom: 48px;
    color: rgb(95, 97, 98);

}
.content2{
    display: flex;
    border: 1px solid black;
    padding: 48px;
    background-color: white;
}
.description2{
    text-align: left;
}
.description2 h3{
    
}